<!-- <form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Type</label>
    <input id="creatureType" type="text" name="type">

    <label for="creatureImg">Img Source</label>
    <input id="creatureImg" type="text" name="name">

    <input type="submit">
</form> -->